sudo: required

dist: trusty

language: go
go:
- 1.12.4

services:
  - docker

install:

script:
- env GO111MODULE=on make test
- env GO111MODULE=on make integration-test

after_success:
  - bash <(curl -s https://codecov.io/bash)